# node / tooling
node_modules/
client/node_modules/
server/node_modules/
dist/
.client/
.vscode/

# env & local db
*.env
server/.env
server/dev.db
prisma/dev.db
prisma/*.db
*.sqlite

# uploaded files
server/uploads/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
